.container{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 15px;
    min-height: 400px;
}

.image {
    display: block;
    align-self: center;
    width: 250px;
    height: 250px;
}

.image img {
    display: block;
    max-width: 100%;
}

.text {
    display: block;
    text-align: center;
}

.price {
    color: #A18A68;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
}